  /* unvisited link */
  a:link {
    color: red;
}

/* visited link */
a:visited {
    color: rgb(22, 200, 212);
}

/* mouse over link */
a:hover {
    color:darkgreen;
}

/* selected link */
a:active {
    color: blue;
}